/* src/index.css */

/* Add this to ensure your app can fill the screen height */
html, body, #root {
  height: 100%;
}

*{
  scrollbar-width: thin;
  scrollbar-color: #1d094d #838383;
  scroll-behavior: smooth;
}